.app__about {
  flex: 1;
  max-width: 100%;
  flex-direction: column;
}

.story-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  @media (max-width: 1050px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.my-story {
  max-width: 1300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  flex: 1;

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    padding-inline: 1.5rem;

    @media (max-width: 450px) {
      text-align: center;
    }
  }
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 1rem;
  margin-top: 2rem;

  img {
    height: 300px;
    object-fit: contain;
  }
}
